:root { 
--teal_600_4c:#0080804c; 
--blue_A400:#2f77f7; 
--blue_A700:#236df2; 
--gray_900:#04062a; 
--red_800:#d32525; 
--indigo_200_01:#86a6de; 
--blue_A200:#517ff4; 
--yellow_A700:#ffd700; 
--black_900_01:#000615; 
--indigo_200:#86a5de; 
--blue_gray_100_4c:#d9d9d94c; 
--black_900:#000000; 
--white_A700_01:#fdfdfd; 
--white_A700:#ffffff; 
}